loglevel=error
audit=false
fund=false
engine-strict=false
legacy-peer-deps=true

# Disable deprecation warnings for specific packages
no-deprecation=gauge
no-deprecation=npmlog
no-deprecation=are-we-there-yet
no-deprecation=fstream
no-deprecation=lodash.isequal
strict-ssl=false 